html, body {
    width: 100%;
    height: 100%
}

.winter-background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/winterblur.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
